.hotelCard:not(:last-child) {
  margin-bottom: 1.5rem;
}

.hotelCard__image {
  width: 100%;
  background-color: var(--almond);
  padding-bottom: 45%;
  position: relative;
}
.hotelCard__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hotelCard__meta {
  text-align: left;
  padding: 1rem;
}

@media screen and (min-width: 992px) {
  .hotelCard__inner {
    display: flex;
    align-items: center;
  }
  .hotelCard__image {
    width: 45%;
    padding-bottom: 30%;
  }
  .hotelCard__meta {
    width: 55%;
    padding: 0 0 0 2rem;
  }
}

/* Type
***************************************************/
.hotelCard__location {
  margin: 0 0 0.5rem 0;
}
.hotelCard__name {
  font-size: 1.675rem;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.105em;
  text-transform: uppercase;
  color: #4d3a2e;
}

.hotelCard__address {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.105em;
  text-transform: uppercase;
}

.hotelCard__divider {
  width: 80px;
}

.hotelCard__times {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 0.675rem;
  text-transform: uppercase;
  letter-spacing: 0.105em;
  color: var(--clay);
}
.hotelCard__times li:not(:last-child)::after {
  content: "•";
  margin: 0 5px;
}

/* Buttons
***************************************************/

.hotelCard__buttons a {
  display: block;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--clay);
  font-size: 0.75rem;
  text-align: center;
  font-weight: 500;
  margin: 0 0 1rem 0;
  letter-spacing: 0.08rem;
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 992px) {
  .hotelCard__buttons {
    display: flex;
  }
  .hotelCard__buttons a {
    display: inline-block;
    margin: 0 1rem 0 0;
  }
}
