.rsvpRadios {
  border: none;
  color: #fff;
  text-transform: uppercase;
  max-width: 750px;
  margin: 1.5rem auto;
}
.rsvpRadios > p {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 300px;
}

.rsvp-info .rsvpRadios {
  padding-left: 0;
}

.rsvp-info .rsvpRadios > p {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .rsvpRadios > p {
    max-width: 300px;
  }
  .rsvpRadios {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
  }
}
.rsvpRadio {
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  line-height: 1.3;
}
.rsvp-info.is-attending--false {
  display: none;
}
.textLabel,
.radioLabel {
  font-size: 0.875rem;
  letter-spacing: 0.08rem;
  font-weight: 500;
}
.radioLabel {
  text-align: left;
  /* order: -1; */
}
.radioCheck {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  margin: 0 1rem 0 0;
  flex-shrink: 0;
  display: block;
}

.rsvpRadios input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rsvpRadios input:checked + .radioCheck {
  background-color: white;
}

/* Text Input
***************************************************/
.rsvpName {
  color: #fff;
  display: flex;
  padding: 0 2rem;
  max-width: 750px;
  margin: 0 auto;
  align-items: center;
}
.textLabel {
  text-transform: uppercase;
  margin-right: 1rem;
  display: block;
}
.textInput {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  border: none;
  padding: 0.5rem;
  color: #fff;
}

/* Submit Button
***************************************************/
form {
  margin-bottom: 0;
}
form > p:last-child {
  margin-bottom: 0;
  transform: translateY(50%);
  display: inline-block;
  padding: 0 1.5rem;
  background-color: var(--clay);
}
.submitButton {
  background-color: #fff;
  border-radius: 0;
  cursor: poitner;
  border: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 0.5rem 1.5rem;
  letter-spacing: 2px;
}
.submitButton:hover {
  opacity: 0.85;
}
/* RSVP Info
***************************************************/
.rsvp-info {
  border-top: 2px solid #fff;
  padding: 2rem;
  margin-top: 2.5rem;
}
.rsvp-info .rsvpRadios {
  padding-right: 0;
}
.rsvp-info .rsvpRadios > p {
  width: 100% !important;
  max-width: 290px;
}

@media screen and (min-width: 992px) {
  .rsvp-info .rsvpRadios > p {
    width: 50% !important;
  }
}

.rsvp-info .rsvpRadio {
  flex-direction: column;
  padding: 0 1rem;
}
.rsvp-info .radioLabel {
  text-align: center;
  margin-top: 1rem;
}

.numberInput {
  font-size: 5rem;
  text-align: center;
  background-color: transparent;
  border: none;
  font-family: "Canela Web";
  font-weight: 300;
  /* padding: 1rem; */
  color: #fff;
  -webkit-appearance: none;
}

.rsvp-info h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 3rem;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .rsvp-info {
    padding: 2.75rem 2rem 0 2rem;
    margin-top: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .rsvp-info h3 {
    font-size: 1.125rem;
  }
}

/* Section Layout
***************************************************/
section h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.105em;
}
form.is-submitted,
.form-thankyou {
  display: none;
}
.form-thankyou {
  color: #fff;
  padding: 2rem 0;
}
form.is-submitted + .form-thankyou {
  display: block;
}

.rsvpName.is-number {
  flex-direction: column;
}

/* Shuttle Info
***************************************************/

.shuttle-info.is-riding--false {
  display: none;
}
.shuttle-info.is-riding--true {
  display: block;
}
.shuttle-info {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  padding-top: 2rem;
}

@media screen and (min-width: 768px) {
  .shuttle-info.is-riding--true {
    display: flex;
    align-items: center;
  }
  .shuttle-info > p {
    width: 40%;
    max-width: 280px;
    margin-bottom: 0;
  }
  .shuttle-info > div {
    width: 60%;
    flex-grow: 1;
  }
}

.shuttle-info .rsvpName {
  flex-direction: column;
  padding-right: 0;
  padding: 0;
}

.shuttle-info .textLabel {
  margin-bottom: 0.5rem;
  margin-right: 0;
}
.shuttle-info > div .textLabel {
  font-size: 0.75rem;
}
.seatControls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.875rem;
}
.seatControl {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 2px solid;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border-radius: 100%;
  text-align: center;
}

.rsvpSection.is-rehearsal h2 {
  margin-top: 0;
}
