.rsvpRadios {
  border: none;
  color: #fff;
  text-transform: uppercase;

  max-width: 750px;
  margin: 1.5rem auto;
  padding: 0 2rem;
}
.rsvpRadios > p {
  width: auto;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .rsvpRadios {
    display: flex;
    justify-content: space-between;
  }
}
.rsvpRadio {
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  line-height: 1.3;
}
.rsvp-info.is-attending--false {
  display: none;
}
.textLabel,
.radioLabel {
  font-size: 0.875rem;
  letter-spacing: 0.08rem;
  font-weight: 500;
}
.radioLabel {
  /* text-align: left; */
  /* order: -1; */
}
.radioCheck {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  margin: 0 1rem 0 0;
  flex-shrink: 0;
  display: block;
}

.rsvpRadios input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rsvpRadios input:checked + .radioCheck {
  background-color: white;
}

/* Text Input
***************************************************/
.rsvpName {
  color: #fff;
  display: flex;
  padding: 0 2rem;
  max-width: 750px;
  margin: 0 auto;
  align-items: center;
}
.textLabel {
  text-transform: uppercase;
  margin-right: 1rem;
  display: block;
}
.textInput {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  border: none;
  padding: 0.5rem;
  color: #fff;
}

/* Submit Button
***************************************************/
form {
  margin-bottom: 0;
}
form > p:last-child {
  margin-bottom: 0;
  transform: translateY(50%);
  display: inline-block;
  padding: 0 1.5rem;
  background-color: var(--clay);
}
.submitButton {
  background-color: #fff;
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 0.5rem 1.5rem;
  letter-spacing: 2px;
}

/* RSVP Info
***************************************************/
.rsvp-info {
  border-top: 2px solid #fff;
  padding-top: 2rem;
  padding: 2.75rem 2rem 0 2rem;
  margin-top: 3.5rem;
}

.numberInput {
  font-size: 3rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  font-family: "Canela Web";
  font-weight: 300;
  padding: 1rem;
  color: #fff;
}

.rsvp-info h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 3rem;
}

/* Section Layout
***************************************************/
section h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.105em;
}
