.section-offset {
  width: 100%;
  height: 100vh;
}
.introSection {
  background-color: var(--almond);
  color: var(--clay);
  padding: 2rem;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.introSection h2 {
  font-family: "Canela Web";
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1.25;
}

.introSection p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.105em;
  color: rgba(77, 58, 46, 1);
}

.introSection .EmersonIcon {
  width: 100%;
  height: auto;
  max-width: 300px;
  margin: 0 0 3rem 0;
}
.introSection a {
  display: inline-block;
  position: relative;
}
.introSection a:hover {
  color: var(--clay);
}
.introSection a:hover .linkIcon {
  opacity: 1;
}

.introSection .linkIcon {
  width: 15px;
  display: inline-block;
  margin-left: 0.5rem;
  opacity: 0.25;
  position: absolute;
  top: 2px;
  right: -25px;
}

@media screen and (min-width: 768px) {
  .introSection {
    padding: 4rem;
  }
  .introSection h2 {
    font-size: 3.5rem;
    line-height: 1.5;
  }
  .introSection p {
    font-size: 14px;
    line-height: 20px;
  }
}
